:root {
    /* Primary color variables */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Neutral color variables */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    /* Typography variables */
    --font-size-body: 13px;
    --font-family-base: 'Barlow Semi Condensed', Arial, sans-serif;
    --font-weight-500: 500;
    --font-weight-600: 600;
}

/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    font-size: 0.813rem;
    line-height: 1.6;
    background: var(--grey-100);
}


.container {
    padding: 2rem;
    max-width: 90rem;
    margin: 0 auto;
}


h1 {
    font-size: 2.5rem;
    font-weight: var(--font-weight-600);
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 2rem;
}

.testimonial {

    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    padding: 2rem;
    margin-bottom: 2rem;

}

.testimonial--purple {
    background: var(--purple-500);
    color: var(--white);
}

.testimonial--dark-grey {
    background: var(--grey-500);
    color: var(--white);
}

.testimonial--light {
    background: var(--white);
    color: var(--dark-blue);
}

.testimonial--dark-blue {
    background: var(--dark-blue);
    color: var(--white);
}

.testimonial--white {
    background: var(--white);
    color: var(--dark-blue);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    margin-bottom: 1.5rem;

}

.profile-img {
    width: 3rem;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.profile-details {
    font-weight: var(--font-weight-600);
}

h2 {
    font-size: .95rem;
    /* font-weight: var(--font-weight-600); */

}

p {
    font-size: var(--font-size-body);

}

.article-description {
    font-size: 1.3rem;
    font-weight: var(--font-weight-600);
    margin-bottom: 1.2em;

}

blockquote {
    font-size: .95rem;

    font-weight: var(--font-weight-500);
    line-height: 1.6;

}

.attribution {
    text-align: center;
}

@media (min-width: 43.75em) {

    section {
        display: grid;
        grid-template-columns: 3fr .89fr;
        /* grid-template-rows: auto auto; */
        gap: 1rem;
    }

    .testimonials-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 3rem;
    }

    /* .testimonial-single{
        
       
    } */
    .testimonial {
        margin-bottom: 0;

    }

    .testimonial--purple {
        grid-column: 1/3;
    }


    .testimonial--dark-blue {
        grid-column: 2/4;
    }

    .testimonial--white blockquote {
        padding-bottom: 2rem;
    }



}